*~
.DS_Store
*.bak
*.class
*.db
*.ear
*.jar
*.off
*.old
*.ser
*.war
.scala_dependencies
.worksheet
*.log

# Eclipse
.settings
.classpath
.project
.manager
.scala_dependencies

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Build junk
target
build
null
tmp*
dist
test-output
project/boot/
project/plugins/project
target/
lib_managed/
src_managed/
test-output/

.Python
env/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.py[cod]
build
doc/_build
cythonize.dat
*.egg-info
.tox
site.cfg
.deps
.libs
.gr
.gz

data/*/*
